:root {
    --p-width: 20%;
}

body {
    background-color: lightgrey;
}

.row p {
    margin-left: 10px;
    width: var(--p-width);
}
.boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whiteBox {
    margin: 10px;
    width: 500px; 
    /*height: 500px; */
    background-color: white;
}

.whiteBox .title {
    margin: 24px;
    font-size: 56px;
    font-weight: 400;
    color: black;
}

.rowContainer {
    display:flex;
    flex-direction: column;
}

.row {
margin: 10px;
display: flex;
flex-direction: row;
/*height: 80px;
width: 500px; */
}


.colorlabelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - var(--p-width));
}

.color.big {
    height: 100px;
    width: 100px;
}
.colorLabel {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label {
    font-size: 10px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.color {
    height: 50px;
    width: 50px;
    background-color: #575757;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.32);
}

.colorLabel .primary {
background-color: #575757;

}

.colorLabel .secondary {
    background-color: white;
    border: solid 1px lightgray;
}
   

.colorLabel .accent {
    background-color: #D5A896;

}
.colorLabel .info {
    background-color: #5E9EF3;
}

.colorLabel .success {
    background-color: #40C277;
}

.colorLabel .warning {
    background-color: #FFD863;
}

.colorLabel .error {
    background-color: #EB5757;
}