:root {
    --p-width: 30%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 50px 50px 20px 50px;
    color: #092C4C;
}

.header h3 {
    font-size: 24px;
    font-weight: 400;
    color: #828282;
    margin: 20px 50px 20px 50px;
}

.row p {
    margin-left: 10px;
    width: var(--p-width);
    color: #828282;
    font-size: 16px;
}

.boxes {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 800px;
}

.whiteBox {
    margin: 50px 50px 20px 50px;
    width: 700px; 
    background-color: white;
}

.whiteBox .title {
    margin: 45px;
    font-size: 32px;
    font-weight: 600;
    color: #092C4C;
}

.rowContainer {
    display:flex;
    flex-direction: column;
    margin: 30px;
}

.row {
margin: 10px;
display: flex;
flex-direction: row;
}

.colorlabelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - var(--p-width));
}

.color.big {
    height: 100px;
    width: 100px;
}

.colorLabel {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.label {
    font-size: 10px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.color {
    height: 50px;
    width: 50px;
    background-color: #575757;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32);
}

.colorLabel .primary {
background-color: #575757;
}

.colorLabel .secondary {
    background-color: white;
}
   
.colorLabel .accent {
    background-color: #CF9C87;

}

.colorLabel .info {
    background-color: #5E9EF3;
}

.colorLabel .success {
    background-color: #40C277;
}

.colorLabel .warning {
    background-color: #FFD863;
}

.colorLabel .error {
    background-color: #EB5757;
}

.colorLabel .blackOne {
    background-color: #000000;
}

.colorLabel .blackTwo {
    background-color: #1D1D1D;
}

.colorLabel .blackThree {
    background-color: #282828;
}

.colorLabel .white {
    background-color: #ffffff;
}

.colorLabel .greyOne {
    background-color: #333333;
}

.colorLabel .greyTwo {
    background-color: #4F4F4F;
}

.colorLabel .greyThree {
    background-color: #828282;
}

.colorLabel .greyFour {
    background-color: #BDBDBD;
}

.colorLabel .greyFive {
    background-color: #E0E0E0;
}

.typographyContainer {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.fontTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fontTitle .fontName {
    font-size: 32px;
    font-weight: 700;
    color: #092C4C;
}

.fontName.body {
    font-weight: 400;
}

.lettersTable {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--p-width));
}

.lettersHeading {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: var(--p-width);
    color: #828282;
}

.largeLetters {
    font-size: 80px;
    text-align: left;
    font-weight: 700;
}

.largeLetters.body {
    font-size: 80px;
    text-align: left;
    font-weight: 400;
}

.headingLetters {
    font-size: 16px;
    margin: 5px;
    text-align: left;
}

.headingLineHeight {
    font-size: 10px;
    margin: 5px;
    text-align: left;
}

.headingTable table {
    width: 100%;
}

.headingTable th {
    text-align: left;
    color: #828282;
    font-weight: 400;
    font-size: 16px;
}

.headingTale td {
    font-size: 16px;
}

.headingTable tr {
    height: 50px;
}

.fontTitle .googleFonts {
    font-size: 10px;
    color: #828282;
}

.headingTable .tableheadingOne {
    font-size: 40px;
    /* line-height: 44px; */
    font-weight: 700;
    color: #092C4C;
}

.headingTable .tableheadingTwo {
    font-size: 32px;
    /* line-height: 35px; */
    font-weight: 700;
    color: #092C4C;
}

.headingTable .tableheadingThree {
    font-size: 24px;
    /* line-height: 27px; */
    font-weight: 700;
    color: #092C4C;
}

.headingTable .tableheadingFour {
    font-size: 14px;
    /* line-height: 16px; */
    font-weight: 700;
    color: #092C4C;
}

.headingTable .tablePixels {
    color: #828282;
}

.headingTable .tablebodyOne {
    font-size: 20px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyTwo {
    font-size: 18px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyThree {
    font-size: 16px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyFour {
    font-size: 14px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyPixels {
    color: #828282;
}

.gridSystemImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.gridImages {
    max-height: 800px;
    max-width: 160px;
}

.moodboardImages {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.inspoImages {
    margin: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.buttonsTitle {
    margin-left: 20px;
    color: #828282;
    font-size: 16px;
}

.buttonContainer .fullWidthContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer .button {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;

} 

.buttonContainer .default {
    background-color: white;
    border: solid 1px #1D1D1D;
    color: #1D1D1D;
}

.buttonContainer .hover {
    background-color: #DCB6A6;
    color: #282828;
}

.buttonContainer .pressed {
    background-color: #CE9488;
    color: #282828;
}

.buttonContainer .active {
    background-color: #CF9C87;
    color: #282828;
}

.buttonContainer .disabled {
    border: 1.5px solid rgba(29, 29, 29, 0.3);
    background-color: white;
    color: rgba(29, 29, 29, 0.3);
}

.sizesContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer .small {
    background-color: white;
    border: solid 1px black;
    width: 150px;
    padding: 10px;
}

.buttonContainer .normal {
    background-color: white;
    border: solid 1px black;
}

.buttonContainer .medium {
    background-color: white;
    border: solid 1px black;
    width: 230px;
    padding: 18px;
}

.buttonContainer .large {
    background-color: white;
    border: solid 1px black;
    width: 260px;
    padding: 20px;
}