:root {
    --p-width: 30%;
}

body {
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 24px;
}

.header h3 {
    font-size: 24px;
    font-weight: 400;
    color: #828282;
    margin: 24px;
}

.row p {
    margin-left: 10px;
    width: var(--p-width);
    color: #828282;
    font-size: 16px;
    
}
.boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whiteBox {
    margin: 10px;
    width: 700px; 
    /*height: 500px; */
    background-color: white;
}

.whiteBox .title {
    margin: 24px;
    font-size: 32px;
    font-weight: 600;
    color: #092C4C;
}


.rowContainer {
    display:flex;
    flex-direction: column;
}

.row {
margin: 10px;
display: flex;
flex-direction: row;
/*height: 80px;
width: 500px; */
}


.colorlabelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - var(--p-width));
}

.color.big {
    height: 100px;
    width: 100px;
}
.colorLabel {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label {
    font-size: 10px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.color {
    height: 50px;
    width: 50px;
    background-color: #575757;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.32);
}

.colorLabel .primary {
background-color: #575757;

}

.colorLabel .secondary {
    background-color: white;
    /*border: solid 1px lightgray;*/
}
   

.colorLabel .accent {
    background-color: #D5A896;

}
.colorLabel .info {
    background-color: #5E9EF3;
}

.colorLabel .success {
    background-color: #40C277;
}

.colorLabel .warning {
    background-color: #FFD863;
}

.colorLabel .error {
    background-color: #EB5757;
}

.colorLabel .blackOne {
    background-color: #000000;
}

.colorLabel .blackTwo {
    background-color: #1D1D1D;
}

.colorLabel .blackThree {
    background-color: #282828;
}

.colorLabel .white {
    background-color: #ffffff;
}
.colorLabel .greyOne {
    background-color: #333333;
}
.colorLabel .greyTwo {
    background-color: #4F4F4F;
}
.colorLabel .greyThree {
    background-color: #828282;
}
.colorLabel .greyFour {
    background-color: #BDBDBD;
}
.colorLabel .greyFive {
    background-color: #E0E0E0;
}

.typographyContainer {
    display: flex;
    flex-direction: row;
}

.fontTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* justify-content: right;
    align-items: center; */
 
}

.fontTitle .fontName {
    font-size: 32px;
    font-weight: 700;
    color: #092C4C;
}

.fontName.body {
    font-weight: 400;
}

.lettersTable {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--p-width));
}

.lettersHeading {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: var(--p-width);
    color: #828282;
}
/* .headingTable {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.largeLetters {
    font-size: 80px;
    text-align: left;
    font-weight: 700;
}

.largeLetters.body {
    font-size: 80px;
    text-align: left;
    font-weight: 400;
}

.headingLetters {
    font-size: 16px;
    margin: 5px;
    text-align: left;
}

.headingLineHeight {
    font-size: 10px;
    margin: 5px;
    text-align: left;
}

/* .headingTable {
    float: right;
} */

.headingTable table {
    width: 100%;
}

.headingTable th {
    text-align: left;
    color: #828282;
    font-weight: 400;
    font-size: 16px;
}

.headingTale td {
    font-size: 16px;
    
}

.headingTable tr {
    height: 50px;
}
.fontTitle .googleFonts {
    font-size: 10px;
    color: #828282;
}

.headingTable .tableheadingOne {
    font-size: 40px;
    /* line-height: 44px; */
    font-weight: 700;
    color: #092C4C;
}

.headingTable .tableheadingTwo {
    font-size: 32px;
    /* line-height: 35px; */
    font-weight: 700;
    color: #092C4C;
}
.headingTable .tableheadingThree {
    font-size: 24px;
    /* line-height: 27px; */
    font-weight: 700;
    color: #092C4C;
}
.headingTable .tableheadingFour {
    font-size: 14px;
    /* line-height: 16px; */
    font-weight: 700;
    color: #092C4C;
}
.headingTable .tablePixels {
    color: #828282;
}

.headingTable .tablebodyOne {
    font-size: 20px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyTwo {
    font-size: 18px;
    font-weight: 400;
    color: #092C4C;
}
.headingTable .tablebodyThree {
    font-size: 16px;
    font-weight: 400;
    color: #092C4C;
}
.headingTable .tablebodyFour {
    font-size: 14px;
    font-weight: 400;
    color: #092C4C;
}

.headingTable .tablebodyPixels {
    color: #828282;
}

.typographyContainer {
    margin-top: 24px;
}

.gridSystemImages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gridImages {
    max-height: 600px;
    max-width: 150px;
}

.moodboardImages {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.inspoImages {
    margin: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonsTitle {
    margin-left: 20px;
    color: #828282;
    font-size: 16px;
}

.buttonContainer .fullWidthContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer .button {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
} 
.buttonContainer .default {
    background-color: white;
    border: solid 1px black;
}
.buttonContainer .hover {
    background-color: #D5A896;
    color: white;
}

.buttonContainer .active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #D5A896;
    color: white;
}

.buttonContainer .disable {
    background-color: #E0E0E0;
    color: white;
}

.sizesContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer .small {
    background-color: white;
    border: solid 1px black;
    width: 150px;
    padding: 10px;
}

.buttonContainer .normal {
    background-color: white;
    border: solid 1px black;
}

.buttonContainer .medium {
    background-color: white;
    border: solid 1px black;
    width: 230px;
    padding: 18px;
}

.buttonContainer .large {
    background-color: white;
    border: solid 1px black;
    width: 260px;
    padding: 20px;

}